ContactManager/ContactManager/bin/
ContactManager/ContactManager/obj/
ContactManager/.vs

OOPs/OOPs/bin/
OOPs/OOPs/obj/
OOPs/.vs

InventoryManagement/InventorManagement/bin/
InventorManagement/InventorManagement/obj/
InventorManagement/.vs